klaus_doer_mouse00w_png RCDATA "../assets/doer/mouse/mouse00w.png"
klaus_doer_mouse01w_png RCDATA "../assets/doer/mouse/mouse01w.png"
klaus_doer_mouse02w_png RCDATA "../assets/doer/mouse/mouse02w.png"
klaus_doer_mouse03w_png RCDATA "../assets/doer/mouse/mouse03w.png"
klaus_doer_mouse04w_png RCDATA "../assets/doer/mouse/mouse04w.png"
klaus_doer_mouse05w_png RCDATA "../assets/doer/mouse/mouse05w.png"
klaus_doer_mouse00n_png RCDATA "../assets/doer/mouse/mouse00n.png"
klaus_doer_mouse01n_png RCDATA "../assets/doer/mouse/mouse01n.png"
klaus_doer_mouse02n_png RCDATA "../assets/doer/mouse/mouse02n.png"
klaus_doer_mouse03n_png RCDATA "../assets/doer/mouse/mouse03n.png"
klaus_doer_mouse04n_png RCDATA "../assets/doer/mouse/mouse04n.png"
klaus_doer_mouse05n_png RCDATA "../assets/doer/mouse/mouse05n.png"
klaus_doer_mouse00e_png RCDATA "../assets/doer/mouse/mouse00e.png"
klaus_doer_mouse01e_png RCDATA "../assets/doer/mouse/mouse01e.png"
klaus_doer_mouse02e_png RCDATA "../assets/doer/mouse/mouse02e.png"
klaus_doer_mouse03e_png RCDATA "../assets/doer/mouse/mouse03e.png"
klaus_doer_mouse04e_png RCDATA "../assets/doer/mouse/mouse04e.png"
klaus_doer_mouse05e_png RCDATA "../assets/doer/mouse/mouse05e.png"
klaus_doer_mouse00s_png RCDATA "../assets/doer/mouse/mouse00s.png"
klaus_doer_mouse01s_png RCDATA "../assets/doer/mouse/mouse01s.png"
klaus_doer_mouse02s_png RCDATA "../assets/doer/mouse/mouse02s.png"
klaus_doer_mouse03s_png RCDATA "../assets/doer/mouse/mouse03s.png"
klaus_doer_mouse04s_png RCDATA "../assets/doer/mouse/mouse04s.png"
klaus_doer_mouse05s_png RCDATA "../assets/doer/mouse/mouse05s.png"
