klaus_doer_mouse00_svg RCDATA "../assets/doer/mouse/mouse00.svg"
klaus_doer_mouse01_svg RCDATA "../assets/doer/mouse/mouse01.svg"
klaus_doer_mouse02_svg RCDATA "../assets/doer/mouse/mouse02.svg"
klaus_doer_mouse03_svg RCDATA "../assets/doer/mouse/mouse03.svg"
klaus_doer_mouse04_svg RCDATA "../assets/doer/mouse/mouse04.svg"
klaus_doer_mouse05_svg RCDATA "../assets/doer/mouse/mouse05.svg"
