[Desktop Entry]
Type=Application
Name=Клаус
Comment=Отладочная среда Клаус
MimeType=text/klauslang-source-code
Exec=klaus-ide %U
Terminal=false
Categories=Development
Icon=klaus-ide
